<div class="profile">
  <div class="d-flex flex-row flex-wrap">
    <div class="col-4">
      <% if @user.profile_picture.attached? %>
        <div class="image">
          <%= image_tag @user.profile_picture, class:"w-100 contain img-fulid" %>
        </div>
      <% else %>
        <div class="image">
          <%= image_tag "default_user.jpeg", class:"w-100 contain img-fulid" %>
        </div>
      <% end %>
    </div>
    <div class="col-8 pl-5 align-self-center">
      <div class="mb-1">
        <h3>ユーザー名</h3>
        <h4 class="pl-3"><%= @user.name %></h4>
      </div>
      <div class="mb-1">
        <h3>誕生日</h3>
        <h4 class="pl-3"><%= @user.birthday&.strftime("%Y年%m月%d日") %></h4>
      </div>
      <div class="mb-1">
        <h3>性別</h3>
        <% if @user.sex == 1 %>
          <h4 class="pl-3">男性</h4>
        <% elsif @user.sex == 2 %>
          <h4 class="pl-3">女性</h4>
        <% else %>
          <h4 class="pl-3">その他</h4>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center my-3">
    <div id="following_count">
      <%= link_to "フォロー中(#{@user.followings.count})", followings_user_path(@user),
        class:"btn btn-info w-150px mr-3 mr-md-5" %>
    </div>
    <div id="follower_count">
      <%= link_to "フォロワー(#{@user.followers.count})", followers_user_path(@user),
        class:"btn btn-info w-150px" %>
    </div>
  </div>
  <div class="d-flex justify-content-center my-3">
    <% if current_user && @user != current_user %>
      <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render "unfollow", user: @user %>
        <% else %>
          <%= render "follow", user: @user %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
