<% @page_title = "ログインフォーム" %>
<h2 class="text-center"><%= @page_title %></h2>

<div class="mx-auto col-12 col-xl-10">
  <%= form_with( url: session_path, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :name, "ユーザー名" %>
      <%= form.text_field :name, class:"form-control form-control-lg" %>
    </div>
    <div>
      <%= form.label :password, "パスワード" %>
      <%= form.password_field :password, class:"form-control form-control-lg" %>
    </div>
    <div>
      <%= submit_tag "ログイン", class:"btn btn-primary btn-lg mt-5" %>
    </div>
  <% end %>
</div>
