<nav class="navbar navbar-expand-md navbar-light bg-light">

  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#bs-navi"
    aria-controls="bs-navi"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class ="collapse navbar-collapse" id="bs-navi">
    <ul class="navbar-nav">
      <%= menu_link_to "TOP", :root, class: "nav-item nav-link" %>
      <%= menu_link_to "ユーザー", :users, class: "nav-item nav-link" %>
      <% if current_user %>
        <li class="nav-item dropdown">
          <%= link_to "投稿", :posts, class: "nav-item nav-link dropdown dropdown-toggle",
          'id': :'navbarDropdown1',
          'role': :'button',
          'data-toggle': :dropdown,
          'aria-haspopup': :'true',
          'aria-expanded': :'false' %>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <%= dropdown_link_to "投稿を見る", :posts, class: "dropdown-item" %>
            <%= dropdown_link_to "投稿する", :new_post, class: "dropdown-item" %>
          </ul>
        </li>
        <li class="nav-item dropdown d-lg-none">
          <%= link_to "アカウント", :account, class: "nav-item nav-link dropdown dropdown-toggle",
          'id': :'navbarDropdown2',
          'role': :'button',
          'data-toggle': :dropdown,
          'aria-haspopup': :'true',
          'aria-expanded': :'false' %>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <%= dropdown_link_to "アカウントの情報", :account, class: "dropdown-item" %>
            <%= dropdown_link_to "アカウントの編集", :edit_account, class: "dropdown-item" %>
            <%= dropdown_link_to "パスワードの変更", :edit_password, class: "dropdown-item" %>
            <%= dropdown_link_to "アカウントを削除", :account, method: :delete, data: { confirm: "本当に削除しますか？"}, class: "dropdown-item" %>
            <%= dropdown_link_to "ログアウト", :session, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "dropdown-item" %>
          </ul>
        </li>
        <% if current_user.administrator? %>
          <%= menu_link_to "管理ページ", :admin_root, class: "nav-item nav-link" %>
        <% end %>
      <% else %>
        <%= menu_link_to "投稿", :posts, class: "nav-item nav-link" %>
        <%= menu_link_to "新規登録", :new_user, class: "nav-link d-lg-none" %>
        <%= menu_link_to "ログイン", :login_form_users, class: "nav-link d-lg-none" %>
        <%= menu_link_to "簡易ログイン", :guest_login_session, method: :post, class: "nav-link d-lg-none" %>
      <% end %>
    </ul>
  </div>
</nav>