<div class ="position-fixed border border-info bg-light rounded my-3 p-2">
  <% if current_user %>
    <div class="">
      <h4>アカウントメニュー</h4>
      <h5 class="ml-2 mb-3"><%= current_user.name + "さん" %></h5>
        <ul class="bavbar-nav list-unstyled">
          <%= menu_link_to "アカウントの情報", :account, class: "nav-item nav-link" %>
          <%= menu_link_to "アカウントの編集", :edit_account, class: "nav-item nav-link" %>
          <%= menu_link_to "パスワードの変更", :edit_password, class: "nav-item nav-link" %>
          <%= menu_link_to "アカウントを削除", :account, method: :delete, data: { confirm: "本当に削除しますか？"}, class: "nav-item nav-link" %>
          <%= menu_link_to "ログアウト", :session, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "nav-item nav-link" %>
        </ul>
    </div>
  <% else %>
    <div class="">
      <h4>ログインメニュー</h4>
      <ul class="navbar-nav">
        <%= menu_link_to "新規登録", :new_user, class: "nav-item nav-link" %>
        <%= menu_link_to "ログイン", :login_form_users, class: "nav-item nav-link" %>
        <%= menu_link_to "簡易ログイン", :guest_login_session, method: :post, class: "nav-item nav-link" %>
      </ul>
    </div>
  <% end %>
</div>