<div class ="border border-info bg-light rounded p-2 position-fixed">
  <% if current_user %>
    <div class="">
      <h4>アカウントメニュー</h4>
      <%= current_user.name + "さん" %>
        <ul class="bavbar-nav list-unstyled">
          <%= menu_link_to "アカウントの情報", :account, class: "nav-item nav-link" %>
          <%= menu_link_to "アカウントの編集", :edit_account, class: "nav-item nav-link" %>
          <%= menu_link_to "パスワードの変更", :edit_password, class: "nav-item nav-link" %>
          <%= menu_link_to "アカウントを削除", :account, method: :delete, data: { confirm: "本当に削除しますか？"}, class: "nav-item nav-link" %>
          <%= menu_link_to "ログアウト", :session, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "nav-item nav-link" %>
        </ul>
    </div>
  <% else %>
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item mr-3">
        <%= link_to "新規登録", :new_user, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", :login_form_users, class: "nav-link" %>
      </li>
    </ul>Ï
  <% end %>
</div>