<div class="profile">
  <div class="d-flex flex-row flex-wrap">
    <div class="col-4">
      <% if @user.profile_picture.attached? %>
        <div class="image">
          <%= image_tag @user.profile_picture, class:"w-100 contain img-fulid" %>
        </div>
      <% else %>
        <div class="image">
          <%= image_tag "default_user.jpeg", class:"w-100 contain img-fulid" %>
        </div>
      <% end %>
    </div>
    <div class="col-8 pl-5 align-self-center">
      <div class="mb-1">
        <h3>ユーザー名</h3>
        <h4 class="pl-3"><%= @user.name %></h4>
      </div>
      <div class="mb-1">
        <h3>誕生日</h3>
        <h4 class="pl-3"><%= @user.birthday&.strftime("%Y年%m月%d日") %></h4>
      </div>
      <div class="mb-1">
        <h3>性別</h3>
        <% if @user.sex == 1 %>
          <h4 class="pl-3">男</h4>
        <% elsif @user.sex == 2 %>
          <h4 class="pl-3">女</h4>
        <% else %>
          <h4 class="pl-3">その他</h4>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-block">
    <div class="my-3">
      <div class="d-flex justify-content-center">
        <%= link_to "フォロー中(#{@user.followings.count})", followings_user_path(@user), class:"btn btn-info btn-lg w-200px mr-3 mr-md-5" %>
        <%= link_to "フォロワー(#{@user.followers.count})", followers_user_path(@user), class:"btn btn-info btn-lg w-200px" %>
      </div>
    </div>
    <div class="">
      <div class="d-flex justify-content-center">
        <% if current_user && @user != current_user %>
          <% if current_user.following?(@user) %>
            <%= form_with(model: current_user.following_relationships.find_by(following_id: @user.id), method: :delete) do |f| %>
              <%= f.hidden_field :following_id %>
              <%= f.submit "フォローをやめる", class: "btn btn-outline-secondary btn-lg w-200px" %>
            <% end %>
          <% else %>
            <%= form_with(model: current_user.following_relationships.build) do |f| %>
              <%= f.hidden_field :following_id, value: @user.id %>
              <%= f.submit "フォローする", class: "btn btn-outline-secondary btn-lg w-200px" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if current_user.administrator? %>
      <div class="d-flex justify-content-center my-3">
        <%= link_to "ユーザーの編集", [:edit, :admin, @user], class:"btn btn-outline-warning btn-lg w-200px mr-3 mr-md-5" %>
        <%= link_to "ユーザーの削除", [:admin, @user], method: :delete, data: { confirm: "本当に削除しますか？"}, class:"btn btn-outline-warning btn-lg w-200px" %>
      </div>
    <% end %>
  </div>
</div>
