<% @page_title = "ユーザー管理" %>
<h1 class="text-center"><%= @page_title %></h1>

<%= form_tag :search_admin_users, method: :get, class: "search col-12 d-flex flex-column flex-md-row justify-content-center" do %>
  <%= text_field_tag "q", params[:q], class: "form-control col-md-6 mx-md-3" %>
  <%= submit_tag "検索", class: "btn btn-primary flex-fill flex-md-grow-0 my-3 my-md-0" %>
<% end %>

<div class="text-center mt-3">
  <%= link_to "ユーザーの新規登録", :new_admin_user, class:"btn btn-info btn-lg" %>
</div>

<div class="mx-auto col-12 col-xl-10">
  <% if @users.present? %>
    <%= render "index_body" %>
  <% else %>
    <p class="text-center">ユーザー情報がありません</p>
  <% end %>
</div>
