<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="sticky-top">
        <%= render "shared/header" %>
      </header>
      <main>
        <% if flash.notice %>
          <p class="notice alert alert-success text-center fadeoutTarget"><%= flash.notice %></p>
        <% end %>
        <% if flash.alert %>
          <p class="alert alert alert-warning text-center fadeoutTarget"><%= flash.alert %></p>
        <% end %>
        <div class="d-flex p-3">
          <aside class="d-none d-lg-block col-lg-4 col-xl-3">
            <%= render "shared/sidebar" %>
          </aside>
          <div class="col-lg-8 col-xl-9">
            <%= yield %>
          </div>
        </div>
      </main>
      <footer>
        <%= render "shared/footer" %>
      </footer>
    </div>
  </body>
</html>
